#xam{
    background-color: #dddddd;
}
#bang1{
    margin :auto;
    border-collapse: collapse;
    width:60%;
}
.vang{
    background-color:yellow;
}
h1{
    text-align: center;
    color:blue;
}
#cam{
    background-color:orange;
}

 #lam{
     color:blue;
 }
 #bang2{
     margin :auto;
     width:60%;
 }